/* @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
} */
/* @font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf'), format('truetype');
} */

body {
    background-color: #e8e8e8;
    /* font-family: 'Poppins-Regular', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

/* Modal class */
/* .exampleModal2  {
    backdrop-filter: blur(15px)!important;
} */
.modal-backdrop {
    backdrop-filter: blur(15px)!important;
    background: rgba(0,0,0,.5)!important;
    opacity: inherit!important;
}

/* Text and Bg color custom class Start */
.d_cty_inp {
    background: #eee;
}
.d_cty_inp2:focus {
    background: transparent;
}
.text-blue-light {
    color: #b5deff;
}
.d_orange {
    background-color: #fe610c;
}
.d_orange:hover {
    background-color: #ff7d18;
}
.text-blue {
    background-color: #0076d7;
}
.con-text-blue {
    color: #0076d7;
}
.d_quick_color1 {
    background-color: #0F7DD8;
}
.d_quick_color2 {
    background-color: #2654A0;
}
.d_quick_color3 {
    background-color: #6769D0;
}
.d_quick_color4 {
    background-color: #00AC7D;
}
.d_danger {
    background-color: #ec4f4f;
}
.custom-btn:hover {
    background-color: transparent;
    color: inherit;
}
.d_bg_gray {
    background-color: #f4f4f4;
}
.d_text_gray {
    color: #bbb;
}
.d_fs_13 {
    font-size: 13px;
}
.d_green {
    color: #339d3a;
}
/* Text color custom class End */

.d_fs_8 {
    font-size: 8px;
}
.d_business-tip {
    left: 32%;
    top: -5px;
}

.d_scrollToTop {
animation: scrollToTop 0.5s linear infinite alternate;
}
@keyframes scrollToTop {
    from {
        opacity: 0;
        transform: scale(0,0);
    }
    to {
        opacity: 1;
        transform: scale(1,1);
    }
    
    /* 0% {
        transform: scale(0,0);
    }
    50% {
        transform: scale(1,1);
    }
    100% {
        transform: scale(.6,.6);
    } */
    
}



.custom-border-none.btn:active {
    border: none;
}

.fs-7 {
    font-size: 12px;
}

.double-line {
    border-bottom: 1px solid #eeeeee;
    line-height: 0.1em;
    margin: 10px 0;
  }
  .double-line span {
    padding: 0 10px;
  }


.d_tbdr {
    /* border: red dashed 1px; */
}
.d_cont {
    /* min-height: 5000px; */
}
.inp-height {
    line-height: 41px;
}
header{
    min-height: 81px;
    /* width: 94%; */
    width: 100%;
    margin: auto;
    z-index: 1000;
}

ul > li> a:hover  {
    background-color: #ededed;
    cursor: pointer;
    
}
.d_menu > li > a  {
    font-size: 14px;
    font-weight: 400;
}
.d_menu > li > a.active  {
    color: #0076d7!important;
}

.d_menu > li:hover ul { 
    display: block; /*Show*/
}
.d_submenu {
    width: 120px;
    display: none; /*Hide*/
}


main {
/* height: 3119px; */
padding-bottom: 100px;
top: 81px;
}
.mt-5.d_mt-5 {
    margin-top: 5rem!important;
}
/* footer { 

} */

.d_ftr1 {
    height: 112px;
}
.d_ftr2 {
    height: 1291px;
}
.d_ftr3 {
    height: 300px;
}
.d_ftr4 {
    height: 97px;
}
.d_tnr {
    font-family: 'Times New Roman', Times, serif;
}

::-webkit-input-placeholder {
    font-size: 16px;
    color: #111;
}
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 15px;
       color: #111;
       opacity:0.5!important;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 15px;
       color: #111;
       opacity:0.5!important;
 }
 
 /* Overriding styles */
 
 ::-webkit-input-placeholder {
    font-size: 15px!important;
    color: #111;
    opacity:0.5!important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 15px!important;
       color: #111;
       opacity:0.5!important;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 15px!important;
       color: #111;
       opacity:0.5!important;
 }
.round-color {
    border-color: #ddecf2;
}

.d_m11 {
    min-height: 120px;
}


.d_m22 {
    /* height: 275px; */
}

.d_mainslider {
 cursor: pointer;
 height: 240px;
}
.d_mainslider img {
    width: 100%;
    height: 240px;
}
.d_mainslider .carousel-indicators button {
    width: 6px;
    height: 6px;
}
.d_mainslider .d_ccp, .d_ccn {
    visibility: hidden;
    background:rgba(0,0,0,0.2);
    width: 25px;
    height: 25px;
}
.d_mainslider .d_ccp {
 left: 10px;
}
.d_mainslider .d_ccn {
    right: 10px;
   }

.d_mainslider:hover .d_ccp,
.d_mainslider:hover .d_ccn {
    visibility: visible;
    background:rgba(0,0,0,1);
}

/* .d_m33_icon {
    display: flex;
    justify-content: left;
}
.d_m33_icon li {
    width: 124px;
    border: #414e5a solid 1px;
} */
.d_m33 {
    min-height: 275px;
    font-size: 14px;
}

.d_m44 {
    min-height: 540px;
}

.d_m33_icon > li > a:hover {
    background-color: transparent;
}
.d_m33_icon > li > a img{
    width: 65px;
    height: 65px;
}
.d_m33_icon.d_m55_icon > li > a img{
    width: 94px;
    height: 94px;
}
.d_m33_icon > li > a:hover img{
    /* box shadow syntex box-shadow:X Y B S C */
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}
/* Search Box animation css Start */
.d_search_form {
  position: fixed;
  z-index: 1000;
  background-color: #ffffff;
  top: 10px;
  left: 330px;
  transition: all 2s linear;  
}
/* Search Box animation css End */
.d_animation {
    animation: myanim 1.6s alternate linear infinite;
}


@keyframes myanim {
    0% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-33px);
    }
    100% {
        transform: translateY(-33px);
    }
    
}

.d_quick > img{
    transform-origin: right bottom;
    transform: scale3d(1,1,1);
    transition: all linear 0.2s;
    /* transition: transform 0.3s ease; */
}
.d_quick:hover > img {
    transform: scale3d(1.04,1.04,1);
}

.d_quick > span{
    transform-origin: left bottom;
    transform: scale3d(1,1,1);
    transition: all linear 0.2s;
    /* transition: transform 0.3s ease; */
}
.d_quick:hover > span {
    transform: scale3d(1.1,1.1,1);
}

.d_quick > .d_explore{
    transition: all linear 0.3s;
    
}
.d_quick:hover > .d_explore {
    transition: all linear 0.2s;
    left: 0;
    background-color: #ffffff;
    color: #0076d7!important;
}
.d_quick:hover > .d_explore:hover.color-var2 {
    color: #2654A0!important;
}
.d_quick:hover > .d_explore:hover.color-var3 {
    color: #6769D0!important;
}
.d_quick:hover > .d_explore:hover.color-var4 {
    color: #00AC7D!important;
}

.d_explore {
    left: -51px;
}

.d_space_main {
padding-right: 0;
}
.d_sm_space {
    padding-left: .5rem;
    padding-right: .5rem;
}

.d_m_popular_brands {
    
}
.d_pop_slider {
     height: 250px;
}
.d_pop_slider > ul {
    width: 6600px;
}
.d_pop_slider ul li a{
    width: 431px;
}
.d_pop_lc {
    z-index: 1000;
}
.d_pop_ul {
    animation-name: popsld;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-direction: normal;
}

@keyframes popsld {
    0% {
        transform:translateX(0px);
    }
    1% {
        transform:translateX(-465px);
    }
    7% {
        transform:translateX(-465px);
    }
    8% {
        transform:translateX(-930px);
    }
    13% {
        transform:translateX(-930px);
    }
    14% {
        transform:translateX(-1395px);
    }
    20% {
        transform:translateX(-1395px);
    }
    21% {
        transform:translateX(-1860px);
    }
    27% {
        transform:translateX(-1860px);
    }
    28% {
        transform:translateX(-2325px);
    }
    34% {
        transform:translateX(-2325px);
    }
    35% {
        transform:translateX(-2790px);
    }
    41% {
        transform:translateX(-2790px);
    }
    42% {
        transform:translateX(-3255px);
    }
    48% {
        transform:translateX(-3255px);
    }
    49% {
        transform:translateX(-3720px);
    }
    55% {
        transform:translateX(-3720px);
    }
    56% {
        transform:translateX(-4185px);
    }
    62% {
        transform:translateX(-4185px);
    }
    63% {
        transform:translateX(-4650px);
    }
    69% {
        transform:translateX(-4650px); 
    }
    70% {
        transform:translateX(-5115px); 
    }
    76% {
        transform:translateX(-5115px); 
    }
    77% {
        transform:translateX(-5580px);
    }
    78% {
        transform:translateX(0px);
    }
    /* 83% {
        transform:translateX(-5580px);
    }
    84% {
        transform:translateX(-6045px);
    }
    90% {
        transform:translateX(-6045px);
    }
    91% {
        transform:translateX(-6510px);
    }
    99% {
        transform:translateX(-6510px);
    } */
    100% {
        transform:translateX(0px);
        /* transform:translateX(-5580px); */
    } 
}



@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1438px;
    }
}
@media screen and (max-width: 991px){
    .d_space_main {
        padding-right: 0;
        padding-left: 0;
        margin-top: 10px;
    }
    .d_sm_space {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 767px){
    .d_main_wrap.ps-5, .d_main_wrap.pe-5 {
        padding-right: 1rem!important;
        padding-left: 1rem!important;   
       }
       .d_mainslider {
        height: auto;
        padding-bottom: 10px;
    }
       .d_mainslider img {
        width: 100%;
        height: 100%;
    }
    .d_m33_icon.d_m55_icon > li > a img{
        width: 70px;
        height: auto;
    }
    /* .d_space_main {
        padding-right: 0;
        padding-left: 0;
    }
    .d_sm_space {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;
    } */
 }

 @media screen and (min-width: 577px) {
    main {
        padding-left: 40px;
        padding-right: 40px;
    }
 }

 @media screen and (max-width: 576px){
    main {
        padding-left: 15px;
        padding-right: 15px;
    }
    .d_form_col {
        height: 50px;
    }
    
    /* .mt-5.d_mt-5 {
        margin-top: 7rem!important;
    } */
    .d_mt-5 {
        padding-top: 10px!important;
    }
    .mt-5.d_mt-5 a {
        font-size: 11px;
        color: #414e5a;
    }
    footer {
        position: fixed;
        bottom: -2px;
        left: 0px;
        width: 100%;
    }
    
    /* .d_tbdr {
        border-color: #ffffff;
    } */
    
}
